<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/>
            <br/>
            <div class="avatar-container">
                <div class="avatar-img-border">
                    <a title="{{ .Site.Title }}" href="{{ "" | absLangURL }}">
                        <img class="avatar-img" src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}" />
                    </a>
                </div>
            </div>
            <h2>{{ .Site.Params.Title }}</h2>
            {{ .Site.Params.Subtitle }}
            </div>
        </div>
</section>
