<!-- Footer -->
<!-- main content -->
</div>
<div class="footer-container">
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="list-inline text-left">
                    <li>
                        <a href="https://www.gnome.org/">The GNOME project</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="https://www.gnome.org/about/">About GNOME</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="https://www.gnome.org/support-gnome/">Support Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <p class="copyright text-muted text-right">Copyright &copy; {{ .Site.Params.navTitle }} All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
</div>
{{ partial "js.html" . }}
</body>
</html>
