/*!
 * Start Bootstrap - Landing Page Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

h2 {
    margin-top:10px;
}

.main-content {
    padding-bottom: 180px;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand,
.navbar {
    color: #FFFFFF;
    background-color: #4a86cf;
    border-color: #3968a1;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus
{
    color: #FFFFFF;
    background: rgba(100%, 100%, 100%, 0.2);
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus
{
    color: #FFFFFF;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.avatar-img {
    width: 128px;
    margin-top: 40px;
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a,
.content-section-b {
    padding: 30px 0;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
}

.content-section-c {
    padding: 30px 0;
    text-align: center;
}

.feature-center-image {
    margin: 0 auto;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.contact {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/contact-bg.jpg) no-repeat center center;
    background-size: cover;
}

.contact h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.contact ul {
    margin-bottom: 0;
}

.contact-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.contact-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .contact h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.contact-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.contact-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

/* Tables like for roadmaps look better with vertically aligned text */
.table > tbody > tr > td {
     vertical-align: middle;
}

.noselect {
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
    background-color: #f8f8f8;
}

.bash {
    background-color: #f8f8f8;
}

/* Reduce padding of bootstrap footer */
footer {
    padding: 20px 0;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
}

.footer-container
{
}

/* Remove margin that affects the vertical aligment of text in bootstrap footer */
footer p,
footer ul {
    margin-bottom: 0px;
}

/* We want on the sides for desktops, and centered when they stack together */
@media (max-width:992px)
{
    footer .text-right {text-align:center;}
    footer .text-left {text-align:center;}
} 
